.view-records__top {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-records__log {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.view-records__log-status {
  display: flex;
  align-items: center;
}

.view-records__question { 
  margin-bottom: 10px;
}