

.view-editor__category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem;
}


/* Category */
.view-editor__category {
  padding: 2px 10px;
  border: 0.1px solid #b2bec3;
  border-radius: 4px;
}

.view-editor__category-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.view-editor__category-q-count {
  margin-bottom: 10px;
}

.view-editor__category-input {
  display: flex;
}

.view-editor__category-handler {
  display: flex;
}

.view-editor__category-modify {
  margin-right: 5px;
  color: var(--blue);
  cursor: pointer;
}

.view-editor__category-delete {
  color: var(--red);
  cursor: pointer;
}